.svg {
}

.svg--drone {
  opacity: 0;
  animation: appear 1s linear 0s 1, disappear 0s linear 2s 1;
  -webkit-animation: appear 1s linear 0s 1, disappear 0s linear 2s 1;
  -moz-animation: appear 1s linear 0s 1, disappear 0s linear 2s 1;
  -o-animation: appear 1s linear 0s 1, disappear 0s linear 2s 1;
}

.svg--camera {
  opacity: 0;
  animation: appear 0s linear 1s 1;
  -webkit-animation: appear 0s linear 1s 1;
  -moz-animation: appear 0s linear 1s 1;
  -o-animation: appear 0s linear 1s 1;
}

.svg--player {
  display: none;
}

@-webkit-keyframes fullRotation {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@-moz-keyframes fullRotation {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@-o-keyframes fullRotation {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes fullRotation {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes fullRotation {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
